{# empty Twig template #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Userstest</title>
    </head>

    <body>
        Hello {{ app.user.username }}
    </body>
</html>